<form action="/home/create" method="POST">
    <label for="title">제목 : </label>
    <input type="text" name="title">

    <label for="title">내용 : </label>
    <textarea name="content"></textarea>
    
    <input type="submit" value="글작성">
</form>